.housing
  display: flex
  flex-direction: column
  gap: 20px
  margin: 20px 0

.gallery
  img
    width: 100%
    height: 300px
    object-fit: cover

.info

  .top
    display: flex
    justify-content: space-between
    align-items: center

    .titles
      h1
        color: #FF6060
        font-size: 30px
        font-weight: 400

      h2
        color: black
        font-size: 14px
        font-weight: 500

    .host
      display: flex
      align-items: center
      gap: 10px

      h3
        color: #FF6060
        font-size: 16px
        font-weight: 500
        text-align: right
        width: 80px

      div
        width: 50px
        height: 50px
        border-radius: 50%
        overflow: hidden

        img
          width: 100%
          height: 100%
          object-fit: cover

  .middle
    display: flex
    justify-content: space-between
    align-items: center

    .tags
      display: flex
      flex-wrap: wrap
      gap: 10px

      div
        background-color: #FF6060
        color: white
        padding: 5px 10px
        border-radius: 10px
        width: 100px // todo: adjust dynamically with media query
        text-align: center
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    .rating
      // color: #FF6060
      // font-size: 24pxw

  .bottom
    display: flex
    justify-content: space-between
    align-items: center
