.notFound
  margin: 0 auto 100px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  color: var(--primary-color)
  gap: 70px

  h1
    font-size: 170px

    p
      font-weight: 500

    a
      color: initial
      text-decoration: underline
